@model Instagram.Models.user
@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-content " class="page-content">
    <div class="banner">
        <div class="jumbotron jumbotron-video text-center bg-transparent mb-0 rounded-0">
        </div>
    </div>
    <div class="col-8 offset-2">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Edit User</h3>
            </div>

            @using (Html.BeginForm("UserEdit2", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="card-body">
                    <div class="form-row">
                        <div class="col-6">
                            @Html.LabelFor(model => model.fname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fname, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="col-6">
                            @Html.LabelFor(model => model.lname, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.lname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.lname, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="form-row">
                        @*<div class="col-6">
                            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>

                        </div>*@

                        <div class="col-6">
                            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>

                        </div>


                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <label for="customFile">Image <br><img id="img-aavatar" src="~/images/@(Model.images)" alt="User_Image" class="w-50 "  style="cursor: pointer"></label>
                            @Html.LabelFor(model => model.images, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" class="d-none" id="customFile" name="file">
                            @Html.ValidationMessageFor(model => model.images, "", new { @class = "text-danger" })
                        </div>
                        </div>
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                        <input type="submit" value="Update" class="btn btn-outline-warning" /> 
                    </div>


                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                </div>
            }
        </div>


    </div>

